
    body {
        background-color: bisque;
    }

    h1 {
        color: rgb(146, 43, 174);
        font-style: italic;
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    input[type="text"],
    input[type="email"] {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    input[type="submit"] {
        padding: 10px;
        background-color: rgb(146, 43, 174);
        color: #fff;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
    }

    h2 {
        text-align: center;
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

